<div class="card" style="display: block;width: 100%;">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="/admin">My Dashbord <%counts_list%></a>
    </li>
    <li role="presentation">
      <a href=/admin/portal_members><%= current_user.admin=="GBL" ? 'Portal Members' : 'My Assignments' %></a>
    </li>
    <li role="presentation">
      <a href="/admin" > Regional Managers</a>
    </li>
    <li role="presentation">
      <a href="/admin/inbox"> Inbox</a>
    </li>
  </ul>
</div>
<style>
  .card { background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; width: 90%; float: right; }
</style>

<div class="row">
  <div class="col-md-3">
    
    <div class="card padding">
      <h2>  Portal Members  </h2>
      <ul class="nav" role="tablist" style="background-color: beige;">
          <li role="presentation" class="active">
            <a href="admin/portal_members"><span class="badge pull-right">&nbsp;<%=@all_count%></span> All&nbsp;  </a>
          </li>
          <li role="presentation" class="">
            <a href="admin/portal_members?box=requests"><span class="badge pull-right"><%=@new_count%></span>  New Requests &nbsp;</a>
          </li>
          <li role="presentation" class="">
             <a href="admin/portal_members?box=review"><span class="badge pull-right"><%=@in_review_count%></span>  In Review &nbsp;</a>
          </li>
          <li role="presentation" class="">
            <a href="admin/portal_members?box=current"><span class="badge pull-right"><%=@active_count%></span>  Current &nbsp;</a>
          </li>
           <li role="presentation" class="">
            <a href="admin/portal_members?box=deactivate"><span class="badge pull-right"><%=@deactivate_count%></span>  Deactivated &nbsp;</a>
          </li>
        </ul>
        <br>
        <br>
        <% if current_user.admin=="GBL"%>
        <h2>Regional Managers</h2>
      <ul class="nav" role="tablist" style="background-color: beige;">
          <li role="presentation" class="active">
            <a href="/regional/my_assignments">All&nbsp;  </a>
          </li>
          <li role="presentation" class="">
            <a href="/#">  By Region &nbsp;</a>
          </li>
          <li role="presentation" class="">
            <select id="" class="form-control">
                <option selected="" value="- Select Region">- Select Region</option>
                <option value="Region 1">Region 1</option>
                <option value="Region 2">Region 2</option>
              </select>
          </li>
        </ul>
        <%end%>
    </div>
  </div>
  <div class="col-md-9">
    
    <div class="card padding">
    <h2>Inbox</h2>
    <div class="row gray-color">
            <div class="col-md-6">
                <div class="" style="padding-top:10px;">
                    <label><input type="checkbox" id="chckDeleteAllMessages" value="">  Select All</label>
                </div>
            </div>
            <div class="col-md-6">
                <input type="button" class="btn btn-primary pull-right" id="delete_conversations" value="Delete"> 
            </div>
        </div>
      <div class="row message" style="border: 1px solid gray">
                <table class="table table-striped">
                    <thead>
                    </thead>
                    <tbody>
                        <%= render partial: 'conversations/conversation', collection: @conversations %> 
                    </tbody>
                </table>
            </div>
    </div>
  </div>
</div>