<p><%= I18n.t 'milan.dear', name: @user.first_name %></p>

<p>Thank you for helping your Sindhi community by being a <%= @type %>!
 You may now login to the Milan portal as follows:</p>

<p>Website: milan.agsa.co</p>

<p>Password: <%= I18n.t('milan.default_password')%></p>
<p>Please note, once you login, you must update your profile details AND change your password by going to "My profile" in the top right hand of the screen, under "Hello!"</p>

<span><%= I18n.t 'milan.thanks' %>!</span> <br/>
<span><%= I18n.t 'milan.admin' %></span><br/><br/>

