
<p> <%= I18n.t 'milan.dear' , name: @user.first_name   %></p> 

<p><%= I18n.t 'milan.reject_profile' %>
<br/>
<%= I18n.t 'milan.good_luck' %>
</p>
<p><%= link_to(I18n.t('milan.link.login'), ENV['FRONTEND_URL'])  %></p>

<p><%= I18n.t 'milan.thanks' %>!<br/>
<%= I18n.t 'milan.team' %></p>

