<p><%= t(:hello).capitalize %> <%= @resource.first_name %>,</p>

<p><%= t '.request_reset_link_msg' %></p>

<p><%= link_to t('.password_change_link'), ("#{ENV['API_URL']}auth/password/edit?config=#{message['client-config'].to_s}&reset_password_token=#{@token}&redirect_url=#{message['redirect-url'].to_s}").html_safe  %></p>

<p><%= t '.ignore_mail_msg' %></p>
<p><%= t '.no_changes_msg' %></p><br/><br/>

<%= image_tag "#{ENV['FRONTEND_URL']}images/logo.png" %>